Debug/
Release/
Debug Library/
Release Library/
x86/
x64/
*.exe
*.user
*.sdf
*.pdb
*.ipdb
*.iobj
*.suo
*.VC.opendb
*.VC.db
bin/*.lib
output.png
render.png
out/
build/
build_xcode/
/.vs/Msdfgen/v16/ipch/AutoPCH/d476d9ebb30ee8d8/CONTOUR-COMBINERS.ipch
/.vs/Msdfgen/v16/ipch/AutoPCH/2b8992839f20adfa/*.ipch
*.ipch
